/* =============================================================================
   Box Sizing
   Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
   border-box polyfill for IE 6/7: https://github.com/Schepp/box-sizing-polyfill#readme
   ========================================================================== */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); }


/* Site Styles  */

#main-piq {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}
#main-piq img {
    max-width: 95%;
}

#logo {
    position: absolute; 
    top: 0; min-width: 0; height: 75px; width: 75px;
}
html {
    background-color: #eee;
}
#main-piq > h1 {
    color: #D34444;     text-shadow: 1px 1px white;     font-weight: 300;               text-align: center;
}
#tldr {
    border: 1px solid #D34444;
    padding: 10px;
    width: 50%;
    margin: 30px auto 0 auto;
}
#tldr > h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}
ul {
    list-style: square;
}

figcaption {
  position: relative;
  background-color: #D34444;
  width: 313px;
  z-index: 2;
  top: -23px;
  padding-left: 10px;
  color: white;
}

blockquote {
  font-style: italic;
  color: #D34444;
  border-left: 5px solid #D34444;
  padding-left: 20px;
  font-size: 2em;
  width: 60%;
  line-height: 31px;
}
